html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(239, 239, 239);
}

:root {
    --blue: #2F2E75;
    --side-margin: 15%;
}

/* Navbar */

.navbar {
    background-color: var(--blue);
    padding: 10px var(--side-margin);
}

.nav-item,
.navbar-brand {
    color: white;
}

.nav-item:hover,
.navbar-brand:hover,
.nav-item:focus,
.navbar-brand:focus {
    color: lightgray;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* Page Structure */

.hero {
    font-size: 22px;
    font-weight: bold;
    padding: 20px var(--side-margin);
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.section {
    width: 100%;
}

.card-section {
    display: grid;
    grid-gap: 1rem;
    padding: 100px var(--side-margin);
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1100px) {
    :root {
        --side-margin: 5%;
    }
}

@media only screen and (max-width: 1000px) {
    .card-text {
        font-size: 14px;
    }

    :root {
        --side-margin: 10%;
    }
}

@media only screen and (max-width: 930px) {
    .card-section {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100% !important;
    }
}


/* Cards */

.card {
    /* Ensures borders remain rounded */
    overflow: hidden !important;
}

.content-card:not(:last-of-type) {
    margin-bottom: 30px;
}

.content-section {
    padding: 50px var(--side-margin);
}

.card-header {
    padding: 10px 20px;
}

.content-body {
    padding: 20px 20px;
}

.card-body {
    background-color: white;
}

.card-img-top {
    height: 201px !important;
    width: 100%;
}

.card-img-top {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.img-transportation {
    background-image: url(../images/transportation.png);
}

.img-medical {
    background-image: url(../images/medical.png);
}

.img-communications {
    background-image: url(../images/communications.png);
}

/* Buttons */

.btn-primary {
    background-color: var(--blue);
    border: none;
}

.btn-primary:hover,
.btn-primary:focus {
    filter: brightness(0.9);
    background-color: var(--blue) !important;
}